@import "font-awesome/font-awesome";
@import "bootstrap";
@function rem-calc($values, $base-value: 22px) {
  $max: length($values);
  $remValues: ();
  @if $max==1 {
    @return convert-to-rem(nth($values, 1), $base-value);
  }
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}
@function convert-to-rem($value, $base-value: 10px) {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value==0rem) {
    $value: 0;
  } // Turn 0rem into 0
  @return $value;
}
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
$footerHeight: 73px;
$retina-media-query: "only screen and (-webkit-min-device-pixel-ratio: 2)," + "only screen and (min--moz-device-pixel-ratio: 2)," + "only screen and (-o-min-device-pixel-ratio: 2/1)," + "only screen and (min-device-pixel-ratio: 2)," + "only screen and (min-resolution: 192dpi)," + "only screen and (min-resolution: 2dppx)";
// Global classes
.btn-primary {
  background-image: url(https://static.parastorage.com/services/skins/2.1229.56/images/wysiwyg/core/themes/base/shiny1button_bg.png);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  border: 0 none;
  &:hover {
    background-color: rgba(237, 7, 99, 0.7);
  }
}
.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.b-w {
  border: 1px solid #fff;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.l-h-20 {
  line-height: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */

main.container {
  max-width: 970px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 125px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: $footerHeight;
  background-color: #000;
}
#social-networks {
  font-size: 28px;
  address {
    margin-top: 12px;
    color: #c2bebe;
    p {
      margin-bottom: 0;
    }
    a {
      color: #c2bebe;
      text-decoration: none;
      &:hover {
        color: #c2bebe;
      }
    }
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 12px;
  }
}

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}
code {
  font-size: 80%;
}

/*header*/

.icon-flag-rus {
  float: right;
  background-image: url('../img/icons/flag_ru.png');
}
.icon-flag-eng {
  float: right;
  background-image: url('../img/icons/flag_eng.gif');
  background-position: 0%;
}
.icon-flag {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.languages {
  width: 62px;
  &:hover {
    cursor: pointer;
  }
}
.logo {
  text-indent: -999px;
  line-height: 0;
  padding: 0;
  position: relative;
  &.with-caption {
    &:after {
      display: block;
      width: 300px;
      height: 50px;
      content: attr(data-caption);
      position: relative;
      right: -130px;
      top: -40px;
      color: #fff;
      font-size: 30px;
      font-weight: 100;
      text-transform: uppercase;
      text-indent: 0;
    }
  }
}
.text-logo-icon {
  span {
    &:first-child {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 0px;
    }
    &:last-child {
      font-size: 12px;
      width: 100%;
      // display: inline-block;
      letter-spacing: 0;
      text-transform: capitalize;
    }
  }
}
.navbar-nav {
  li.dropdown {
    &:hover {
      ul.dropdown-menu {
        display: block;
      }
    }
  }
}
//end header
//homepage
#carousel-homepage-1 {
  .icon-prev,
  .icon-next {
    font-size: 10vw;
    margin-top: -5vw;
  }
  .carousel-inner {
    > .item > img {
      width: 100%;
      height: 100%;
    }
    .carousel-caption {
      width: 30%;
      height: 50%;
      top: 20%;
      left: 35%;
      background-color: transparent;
      cursor: pointer !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: #fff;
        transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
      }
      .text {
        width: 70%;
        height: 40%;
        margin-bottom: 20px;
        h2 {
          text-transform: uppercase;
          margin: 0px;
          color: #000;
          font-weight: 500;
          text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
        }
      }
      a {
        display: flex;
        width: 50%;
        color: #fff;
        align-items: center;
        justify-content: center;
        height: 45px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .svg {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    width: 3%;
    position: absolute;
    top: 44%;
  }
  .left-arrow {
    left: 3%;
  }
  .right-arrow {
    right: 3%;
    transform: scale(-1);
  }
}
#section-fog {
  position: relative;
  height: 220px;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    content: "";
    z-index: 1;
    background-color: rgba(240, 86, 148, 0.3);
  }
  video {
    width: 100%;
  }
}
#change-life-link {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  padding: 0 7%;
  height: 50px;
  z-index: 3;
  a,
  p {
    line-height: 45px;
    // font-size: 2.4vw;
  }
  p {
    height: 100%;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.46);
  }
  a {
    display: block;
    height: 100%;
    float: right;
    background-color: #d61043;
    color: #fff;
    font-weight: 100;
    &:hover {
      background: rgba(171, 5, 53, 0.7);
      &:after {
        border-left-color: rgba(171, 5, 53, 0.7);
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -23px;
      display: block;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 23px solid #d61043;
    }
  }
}
//show page
.page-title-show {
  h2 {
    margin-bottom: 50px;
    small {
      color: $pink-color;
    }
  }
  .lead {
    color: #fff;
    margin-bottom: 0;
  }
}
.page-show-title-buttons {
  h3 {
    span {
      text-transform: uppercase;
    }
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
#show-content {
  .last-section {
    .text-primary.text-center {
      font-size: 18px;
      margin-top: 10px;
    }
  }
  figure {
    max-width: 212px;
    margin: 0 auto 20px auto;
    img {
      width: 100%;
      border: 2px solid #ed0763;
    }
  }
}
.line {
  position: relative;
  &:before,
  &:after {
    display: block;
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #fff;
    width: 30%;
    content: "";
    top: 50%;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
#carousel-show-main {
  .carousel-inner {
    > .item > img {
      width: 100%;
      height: 100%;
    }
  }
}
.artist {
  text-align: center;
  margin-top: 30px;
  img {
    border: 2px solid $pink-color;
    width: 100%;
  }
  button {
    margin: 0 auto;
    font-weight: 100;
    font-size: 18px;
  }
  h4 {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
//end of show page
//special page
.car-st {
  clear: both;
  .icon-prev,
  .icon-next {
    font-size: 10vw;
    margin-top: -5vw;
  }
  .item {
    img {
      margin: 0 auto;
    }
  }
}
#carousel-posters {
  .icon-prev,
  .icon-next {
    font-size: 10vw;
    margin-top: -5vw;
  }
  .icon-prev {
    left: 25px;
  }
  .icon-next {
    right: 25px;
  }
  .item {
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    clear: both;
    img {
      width: 100%;
    }
  }
  .carousel-indicators {
    bottom: 0;
  }
}
//strip page
#carousel-strip {
  img {
    margin: 0 auto;
  }
}
//vip page
#carousel-vip {
  margin-bottom: 70px;
  .item {
    max-height: 400px;
    overflow: hidden;
    .bg-item {
      background-size: cover;
      max-width: 720px;
      margin: 0 auto;
      min-height: 400px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .carousel-indicators {
    width: 100%;
    left: 0;
    margin-left: 0;
    max-height: 50px;
    height: 100%;
    bottom: -70px;
    li {
      // max-width: 88px;
      max-height: 50px;
      width: 13%;
      margin-right: 1%;
      height: 100%;
      float: left;
      border: 0;
      border-radius: 0;
    }
  }
}
.btn-black {
  background-color: #000;
  border: 1px solid #fff;
  padding: 8px 40px 8px 40px;
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    transition: all 0.5s;
  }
  &:active,
  &:focus {
    color: #000;
  }
}
//events page
#events-content {
  padding-top: 20px;
  .text-primary.text-center.f-s-18 {
    line-height: 36px;
  }
  section {
    margin-top: 300px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .carousel-control {
    width: 5%;
  }

}
#carousel-events-header {
  margin-bottom: 200px;

  .carousel-inner {
    min-height: 240px;
    background-color: #000;
  }
  .carousel-indicators {
    bottom: -4px;
  }

  .left {
    span {
      left: 15%;
    }
  }
  .right {
    span {
      right: 15%;
    }
  }
}
.carousel.events {
  img {
    max-width: 825px;
    width: 100%;

  }
}
.kwicks {
  width: 100%;
  min-height: 320px;
  height: 100%;
}
//gallery
#slider-gallery {
  min-height: 430px;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}
#strip-gallery {
  height: 300px;
}
#history {
  div > img {
    width: 100%;
  }
}
//contact-us
#contact-us {}
//menu standart
.has-decorations {
  position: relative;
  min-height: 130px;
  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    min-height: 130px;
    height: 100%;
    width: 160px;
    top: 0;
  }
  &:before {
    left: 0;
    background-image: url(../img/backgrounds/menu-left-bg.webp);
  }
  &:after {
    right: 0;
    background-image: url(../img/backgrounds/menu-right-bg.webp);
  }
}
.menu-items {
  li {
    position: relative;
    padding: 2px 0;
    &:after {
      position: absolute;
      top: 50%;
      border-top: 1px dotted #888;
      content: "";
      display: inline-block;
      left: 0;
      right: 0;
    }
    > span,
    > strong {
      position: relative;
      z-index: 1;
      background-color: $body-bg;
      padding: 0 5px;
    }
    > span {
      float: right;
    }
  }
  .no-lines {
    &:after {
      border-top: none;
    }
  }
}
.menu {
  padding-left: 30%;
  padding-right: 30%;
  clear: both;
  li {
    clear: both;
    overflow: hidden;
    strong {
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }
  }
}
.drinks-prices {
  tr {
    border-bottom-style: hidden;
    border-top-style: hidden;
    td {
      width: 50%;
      &:first-child {
        text-align: right;
      }
      &:last-child {
        text-align: left;
      }
    }
  }
}
.menu-fruits {
  padding-left: 70px;
  padding-right: 70px;
  li {
    border-bottom: 1px solid #fff;
    &:last-child {
      border: none;
    }
  }
}
#map {
  height: 322px;
}
#carousel-info {
  img {
    margin: 0 auto;
  }
}

/* ==========================================================================
Media Queries
========================================================================== */


/* Retina */

@media #{$retina-media-query} {
  .img-retina-holder {
    display: inline-block;
    max-width: 100%;
    background-size: 100% 100%;
    > img {
      visibility: hidden;
    }
  }
}

/* 480px and bigger */

#social-networks {
  font-size: 28px;
  width: 240px;
  address {
    margin-top: 12px;
    font-size: 12px;
    color: #c2bebe;
    p {
      margin-bottom: 0;
    }
    a {
      color: #c2bebe;
      text-decoration: none;
      &:hover {
        color: #c2bebe;
      }
    }
  }
  h5 {
    margin-top: 0;
    line-height: 12px;
    margin-bottom: 0;
  }
}
@media (min-width: $screen-xs-min) {}

/* 480px and smaller */

@media (max-width: $screen-xs) {
  html {
    font-size: 16.5px;
  }
}

/* 768px and smaller */

@media (max-width: $screen-xs-max) {
  body {
    font-size: 14px;
    line-height: 1.57142;
  }
  .logo.with-caption:after {
    display: none;
  }
  .page-title-show {
    text-align: center;
    h2 {
      font-size: 7.6vw;
    }
    .lead {
      font-size: 4.1vw;
    }
  }
  .page-show-title-buttons {
    .pull-right {
      margin-top: 20px;
      float: none!important;
      h3 {
        text-align: center;
      }
    }
  }
  #social-networks {
    margin: 0 auto;
  }
}

/* 768px and bigger */

@media (min-width: $screen-sm-min) {
  .drinks-prices {
    tr {
      &:first-child {
        border-top-style: solid!important;
        border-top-width: 1px;
      }
      &:last-child {
        border-bottom-width: 1px;
        border-bottom-style: solid!important;
      }
    }
  }
}

/* 480px to 767px */

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  html {
    font-size: 17px;
  }
  body {
    margin-bottom: 180px;
  }
  footer {
    .text-right {
      text-align: center;
    }
  }
  .car-i-wrap {
    float: left;
    margin-right: 40px;
    width: 40%;
  }

}

/* 768px to 991px */

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  html {
    font-size: 16px;
  }
   .car-i-wrap {
    float: left;
    margin-right: 40px;
    width: 40%;
  }
}

/* 992px and smaller */

@media (max-width: $screen-sm-max) {}

/* 992px and bigger */

@media (min-width: $screen-md-min) {}

/* 992px to 1199px */

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  html {
    font-size: 19px;
  }
}

/* 1200px and bigger */

@media (min-width: $screen-lg-min) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 28px;
  }
}
