<video loop="" muted="" preload="auto" autoplay class="background-video">
    <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
  </video>
  <main class="container" id="strip-content" >
    <header>
      <section class="col-sm-8 pull-left">
        <h2 class="text-primary text-left ">
          Strip Program 
          <small class="text-primary">(part 2)</small>
        </h2>
        <p class="lead text-white text-left">
          Every day from 23:45 to 06:00 <br>
          A unique plae to relax
        </p>
       
      </section>
      <section class="col-sm-4 text-center">
        <h2 class="text-white m-b-20">Crazy Menu</h2>
        <a href="./menu-crazy" class="btn btn-primary">Let`s see</a>
      </section>
    </header>
  <section class="col-sm-6 col-sm-offset-1 ">
    <div id="carousel-strip" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active ">

            <img src="assets/img/slides/strip/strip1.webp.jpg" alt="strip club">
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip2.webp.jpg" alt="strip club">
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip3.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip4.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip5.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip6.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip7.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip8.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip9.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip10.webp.jpg" alt="strip club">  
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-strip" role="button" data-slide="prev">
          <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-strip" role="button" data-slide="next">
          <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
        </a>
      </div>
  </section>
  <section class="col-sm-4 col-sm-offset-1">
    <h3 class="text-primary ">
      Cabaret Charlotte
    </h3>
    <p class="text-white">
      A place where our charming and beautiful 
      girls will help you drift away from your 
      daily routine. A place that will help
      you shift to another world. 
      And forgot everything that botheres you.
    </p>
    <h3 class="text-primary ">
      Charlotte Girls
    </h3>
    <p class="text-white">
      Amazing girls from all over the World. 
      Girls from Armenia, Russia, Ukraine,
      Kazakhstan, Kyrgyzstan, even Nigeria.
      Soon also from Europe .
      They all are professional STRIP Dancers.
      They have passed special courses.
​
    </p>
    <h3 class="text-primary ">
      Our Experience
    </h3>
    <p class="text-white">
      It has already been 14 years that 
      we have experience in this area.
      Many years of hard work have helped
      us refine. Refining the dance moves
      the interior and the expectations.
    </p>
  </section>
  <section class="text-white text-center col-sm-6 col-sm-offset-3">
    <h2 class="m-b-20">Welcome to Us</h2>
    <p class="lead m-b-20">
      <span class="m-b-20 show">
        We suggest you finishing your working day
        at our club, relax with us, and return
        <br>
        home as a complete MAN!<br>
      </span>
      <span class="m-b-80 show">
        Every Day Form 23:45 to 06:00
      </span>
    </p>
  </section>
  <ng-include src="'assets/js/templates/reservation-section.html'"></ng-include>    
  </main>