  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left logo with-caption" id="logo" href="./" data-caption="Charlotte Cabaret">
        Charlotte
        <img src="./app/images/logo.png" alt="Cabaret Charoltte">
      </a>
      <div class="collapse navbar-collapse">

        <ul class="list-inline list-unstyled text-right">
          <li>
            <a href="#rus">
              <i class="icon-flag icon-flag-rus"></i>
            </a>
          </li>
          <li>
            <a href="#eng">
              <i class="icon-flag icon-flag-eng"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="./index.html">Home</a>
          </li>
          <li class="dropdown">
            <a class="dropdown dropdown-toggle " href="./show.html">- Show -</a>
            <ul class="dropdown-menu">
              <li>
                <a href="./special.html">Special</a>
              </li>
              <li>
                <a href="./posters.html">Posters</a>
              </li>
            </ul>
          </li>
           <li>
            <a href="./strip.html">Strip</a>
          </li>
          <li>
            <a href="./vip.html">V.I.P</a>
          </li>
          <li class="dropdown">
            <a  class="dropdown dropdown-toggle" href="./gallery.html">--Gallery--</a>
             <ul class="dropdown-menu">
              <li>
                <a href="./gallery.html">Show</a>
              </li>
              <li>
                <a href="./gallery-strip.html">Strip</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown dropdown-toggle " href="./menu.html">--Menu--</a>
            <ul class="dropdown-menu">
              <li>
                <a href="./menu.html">Standard</a>
              </li>
              <li>
                <a href="./menu-crazy.html">Crazy</a>
              </li>
              <li>
                <a href="./menu-nargile.html">Nargile</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="./events.html">Events</a>
          </li>
          <li>
            <a href="./history.html">Our History</a>
          </li>
          <li class="dropdown">
            <a  class="dropdown dropdown-toggle" href="./contact-us.html">
              Contacts
            </a>
             <ul class="dropdown-menu">
              <li>
                <a href="./career.html">Career</a>
              </li>
              
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>