  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left logo with-caption" id="logo" href="./" data-caption="Charlotte Cabaret">
        {{charlotte}}
        <img src="./app/images/logo.png" alt="Cabaret Charoltte">
      </a>
      <div class="collapse navbar-collapse">

        <ul class="list-inline list-unstyled text-right">
          <li>
            <a  href="#"  ng-click="changeLanguage('ru')">
              <i class="icon-flag icon-flag-rus"></i>
            </a>
          </li>
          <li>
            <a  href="#" ng-click="changeLanguage('en')">
              <i class="icon-flag icon-flag-eng"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href translate="navbar-menu.home" ui-sref="app.home({lang: activeLang})"></a>
          </li>
          <li class="dropdown">
            <a class="dropdown dropdown-toggle " href  ui-sref="app.show({lang: activeLang})"><span translate="navbar-menu.show"></span> <i class="fa fa-angle-down pull-right"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href ui-sref="app.special({lang: activeLang})" translate="navbar-menu.special"></a>
              </li>
              <li>
                <a href ui-sref="app.posters({lang: activeLang})" translate="navbar-menu.posters"></a>
              </li>
            </ul>
          </li>
           <li>
            <a href ui-sref="app.strip({lang: activeLang})" translate="navbar-menu.strip"></a>
          </li>
          <li>
            <a href ui-sref="app.vip({lang: activeLang})" translate="navbar-menu.vip"></a>
          </li>
          <li class="dropdown">
            <a  class="dropdown dropdown-toggle" href ui-sref="app.gallery({lang: activeLang})"><span  translate="navbar-menu.gallery"></span> <i class="fa fa-angle-down pull-right"></i></a>
             <ul class="dropdown-menu">
              <li>
                <a href ui-sref="app.gallery({lang: activeLang})" translate="navbar-menu.show"></a>
              </li>
              <li>
                <a href ui-sref="app.galleryStrip({lang: activeLang})" translate="navbar-menu.strip"></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown dropdown-toggle " href ui-sref="app.menu({lang: activeLang})" ><span translate="navbar-menu.menu"></span> <i class="fa fa-angle-down pull-right"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href ui-sref="app.menu({lang: activeLang})" translate="navbar-menu.standart"></a>
              </li>
              <li>
                <a href ui-sref="app.menuCrazy({lang: activeLang})" translate="navbar-menu.crazy"></a>
              </li>
              <li>
                <a href ui-sref="app.menuNargile({lang: activeLang})" translate="navbar-menu.nargile"></a>
              </li>
            </ul>
          </li>
          <li>
            <a href ui-sref="app.events({lang: activeLang})" translate="navbar-menu.events"></a>
          </li>
          <li>
            <a href ui-sref="app.history({lang: activeLang})" translate="navbar-menu.history"></a>
          </li>
          <li class="dropdown">
            <a  class="dropdown dropdown-toggle" href ui-sref="app.contacts({lang: activeLang})" ><span translate="navbar-menu.contacts"></span>
               <i class="fa fa-angle-down pull-right"></i>
            </a>
             <ul class="dropdown-menu">
              <li>
                <a href ui-sref="app.career({lang: activeLang})" translate="navbar-menu.career"></a>
              </li>
              
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>