<main class="container text-center " id="menu-nargile">
  <div class="has-decorations text-center">
    <img src="assets/img/menu/nargile-heading.webp.png" alt="nargile" />
  </div>
  <div class="table-responsive">
    <table class="table text-left b-w">
      <thead>
        <tr>
          <th>
            <strong class="text-left" translate="menu.nargile.brands"></strong>
          </th>
          <th>
            <img src="./assets/img/menu/brand-1.webp.png" alt="Nargile">
          </th>
          <th>
            <img src="./assets/img/menu/brand-2.webp.png" alt="Nargile">
          </th>
          <th>
            <img src="./assets/img/menu/brand-3.webp.png" alt="Nargile">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4 class="text-left" translate="menu.nargile.clayCup"></h4>
          </td>
          <td>9000 <span translate="money.amd"></span></td>
          <td>9000 <span translate="money.amd"></span></td>
          <td>14000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td>
            <h4 class="text-left" translate="menu.nargile.freshFruit"></h4>
          </td>
          <td>12000 <span translate="money.amd"></span></td>
          <td>12000 <span translate="money.amd"></span></td>
          <td>16000 <span translate="money.amd"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="text-center" ranslate="menu.nargile.insteadofWater">
      
    </h2>
  <div class="table-responsive">
    <table class="table drinks-prices">
      <tbody>
        <tr>
          <td translate="menu.nargile.wine">
            
          </td>
          <td>10000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td translate="menu.nargile.cognac">
            Cognac
          </td>
          <td>10000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td translate="menu.nargile.absinthe">
            
          </td>
          <td>10000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td translate="menu.nargile.baccardi">
            
          </td>
          <td>10000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td translate="menu.nargile.chivas">
            
          </td>
          <td>12000 <span translate="money.amd"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ul class="menu-fruits list-unstyled b-w">
    <li>
      <strong translate="menu.nargile.peach"></strong>
      <img src="assets/img/menu/peach-lemon-cherry.webp.png" alt="lemon cherry">
    </li>
    <li>
      <strong translate="menu.nargile.plumV"></strong>
      <img src="assets/img/menu/plum-grape.webp.png" alt="plum grape">
    </li>
    <li>
      <strong translate="menu.nargile.apple"></strong>
      <img src="assets/img/menu/apples.webp.png" alt="apples">
    </li>
    <li>
      <strong translate="menu.nargile.clayCup"></strong>
      <img src="assets/img/menu/pinapple.webp.png" alt="pinapple">
    </li>
    <li>
      <strong translate="menu.nargile.mint"></strong>
      <img src="assets/img/menu/mint.webp.png" alt="mint">
    </li>
    <li>
      <strong translate="menu.nargile.grape"></strong>
      <img src="assets/img/menu/grape.webp.png" alt="grape">
    </li>
    <li>
      <strong translate="menu.nargile.plum"></strong>
      <img src="assets/img/menu/plum.webp.png" alt="plum">
    </li>
    <li>
      <strong translate="menu.nargile.coconut"></strong>
      <img src="assets/img/menu/coconut-chocolate.webp.png" alt="coconut chocolate">
    </li>
    <li>
      <strong translate="menu.nargile.melon"></strong>
      <img src="assets/img/menu/melon.webp.png" alt="melon">
    </li>
  </ul>
  <div class="table-responsive">
    <table class="table text-left">
      <thead>
        <tr>
          <th>
            <strong class="text-left" translate="menu.nargile.brands"></strong>
          </th>
          <th>
            <img src="./assets/img/menu/brand-1.webp.png" alt="nargile">
          </th>
          <th>
            <img src="./assets/img/menu/brand-2.webp.png" alt="nargile">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4 class="text-left" translate="menu.nargile.pineapple"></h4>
          </td>
          <td>15000 <span translate="money.amd"></span></td>
          <td>18000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td>
            <h4 class="text-left" translate="menu.nargile.water-melon"></h4>
          </td>
          <td>20000 <span translate="money.amd"></span></td>
          <td>22000 <span translate="money.amd"></span></td>
        </tr>
        <tr>
          <td>
            <h4 class="text-left" translate="menu.nargile.water-melon-pinapple"></h4>
          </td>
          <td>45000 <span translate="money.amd"></span></td>
          <td>45000 <span translate="money.amd"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-include src="'assets/js/templates/controller-free/reservation-section.html'" class="has-decorations show m-b-20"></ng-include>
</main>
