<main class="container " id="menu-standart">
  <h2 class="text-center text-primary has-decorations" translate="menu.crazy.title"></h2>
  <ul class="menu-items  list-unstyled">
    <li>
      <strong translate="menu.crazy.Song-order"></strong>
      <span>5000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.danceOrder"></strong>
      <span>5000 <span translate="money.amd"></span></span>
    </li>
    <li class="no-lines">
      <strong translate="menu.crazy.consummation"></strong>
    </li>
    <li>
      <strong translate="menu.crazy.dancer">  </strong>
      <span>6000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.waitress"></strong>
      <span>10 000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.Table-Dance"></strong>
      <span>5000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.privateDance"></strong>
      <span>10.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.completePrivate"></strong>
      <span>20.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.lesbian-dance"></strong>
      <span>40.000 <span translate="money.amd"></span></span>
    </li>
    <li class="no-lines">
      <strong translate="menu.crazy.romantic-erotic"></strong>
    </li>
    <li>
      <strong translate="menu.crazy.at-the-table"></strong>
      <span>10.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.in-the-VIP-hall"></strong>
      <span>15.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.more-Passion"></strong>
      <span>2000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.tequila-Kiss"></strong>
      <span>15.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.turn-off-the-electricity"></strong>
      <span>200.000 <span translate="money.amd"></span></span>
    </li>
    <li>
      <strong translate="menu.crazy.burn-down-the-club"></strong>
      <span>1000.000 USD</span>
    </li>
  </ul>
  <ng-include src="'assets/js/templates/controller-free/reservation-section.html'" class="has-decorations show m-b-20"></ng-include>
</main>
