<main class="container " id="menu-standart">
  <h2 class="text-center text-primary has-decorations">Crazy Menu</h2>
  <ul class="menu-items  list-unstyled">
    <li>
      <strong>Song order</strong>
      <span>5000 AMD</span>
    </li>
    <li>
      <strong>Dance order</strong>
      <span>5000 AMD</span>
    </li>
    <li class="no-lines">
      <strong>Consummation (10 min.)</strong>
    </li>
    <li>
      <strong>&nbsp; &nbsp; a). dancer </strong>
      <span>6000 AMD</span>
    </li>
    <li>
      <strong>&nbsp; &nbsp; b).Waitress </strong>
      <span>10 000 AMD</span>
    </li>
    <li>
      <strong>Table Dance</strong>
      <span>5000 AMD</span>
    </li>
    <li>
      <strong>Private dance</strong>
      <span>10.000 AMD</span>
    </li>
    <li>
      <strong>Complete private</strong>
      <span>20.000 AMD</span>
    </li>
    <li>
      <strong>lesbian dance</strong>
      <span>40.000 AMD</span>
    </li>
    <li class="no-lines">
      <strong>Romantic-erotic dance  with dancer or waitress</strong>
    </li>
    <li>
      <strong>&nbsp; &nbsp;a). at the table</strong>
      <span>10.000 AMD</span>
    </li>
    <li>
      <strong>&nbsp; &nbsp;b). in the VIP hall</strong>
      <span>15.000 AMD</span>
    </li>
    <li>
      <strong>More Passion</strong>
      <span>2000 AMD</span>
    </li>
    <li>
      <strong>Tequila Kiss</strong>
      <span>15.000 AMD</span>
    </li>
    <li>
      <strong>If you want to turn off  the electricity of the club (10 minutes)</strong>
      <span>200.000 AMD</span>
    </li>
    <li>
      <strong>If you want to burn down the club</strong>
      <span>1000.000 USD</span>
    </li>
  </ul>
  <ng-include src="'assets/js/templates/controller-free/reservation-section.html'" class="has-decorations show m-b-20"></ng-include>
</main>
