<main class="container" id="menu-standart">
  <h2 class="text-center text-primary has-decorations" translate="menu.standard.title"></h2>
  <p class="lead text-center" translate="menu.standard.entrance"></p>
  <h3 class="text-center" translate="menu.standard.vodka"></h3>
  <ul class="menu-items list-unstyled">
    <li>
        <strong translate="menu.standard.Beluga"></strong>
        <span>2900</span>
    </li>
    <li>
      <strong translate="menu.standard.GreyGoose"></strong>
      <span>2700</span>
    </li>
    <li>
      <strong translate="menu.standard.Absolutaroma"></strong>
      <span>1500</span>
    </li>
    <li>
      <strong translate="menu.standard.Absolut"></strong>
      <span>1200</span>
    </li>
    <li>
      <strong translate="menu.standard.Finlandia"></strong>
      <span>1200</span>
    </li>
    <li>
      <strong translate="menu.standard.Koskenkorva"></strong>
      <span>1200</span>
    </li>
    <li>
      <strong translate="menu.standard.Russianstandard"></strong>
      <span>1000</span>
    </li>
    <li>
      <strong translate="menu.standard.Smirnoff"></strong>
      <span>1000</span>
    </li>
    <li>
      <strong translate="menu.standard.Silver"></strong>
      <span>1000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.tequila"> </h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.OlmecaSilver|Gold"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.LunazolSilver|Anejo"></strong>
      <span>3000|3500</span>
    </li>
    <li><strong translate="menu.standard.SierraSilver|Gold"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Patron(silver|anejo)"></strong>
      <span>4500|5000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.whiskey"></h3>
  <ul class="list-unstyled menu-items">
    <li><strong translate="menu.standard.BlueLabel"></strong>
      <span>9000</span>
    </li>
    <li><strong translate="menu.standard.Chivas21"></strong>
      <span>9000</span>
    </li>
    <li><strong translate="menu.standard.Macallan12"></strong>
      <span>7500</span>
    </li>
    <li><strong translate="menu.standard.Chivas18"></strong>
      <span>6500</span>
    </li>
    <li><strong translate="menu.standard.Chivas12"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Blacklabel"></strong>
      <span>2800</span>
    </li>
    <li><strong translate="menu.standard.JackDaniels"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Jameson"></strong>
      <span>2100</span>
    </li>
    <li><strong translate="menu.standard.Redlabel"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.JimBeam"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.FamousGrouse"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.Ballantine's"></strong>
      <span>1700</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.rum"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.HavanaClub7"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.HavanaClub3"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Bacardioakheart"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Bacardisuperior"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Bacardiblack"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.CaptainMorganBlack"></strong>
      <span>1500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.gin"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.BombaySapphire"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Beefeater"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Gordon's"></strong>
      <span>1500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.cognac"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.HennessyXO"></strong>
      <span>14000</span>
    </li>
    <li><strong translate="menu.standard.HennessyVSOP"></strong>
      <span>5000</span>
    </li>
    <li><strong translate="menu.standard.Nairi"></strong>
      <span>6500</span>
    </li>
    <li><strong translate="menu.standard.Tonakan"></strong>
      <span>5000</span>
    </li>
    <li><strong translate="menu.standard.Akhtamar"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Selected"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Ani"></strong>
      <span>2200</span>
    </li>
    <li><strong translate="menu.standard.Ararat5*"></strong>
      <span>2000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.liqueu"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Sambuca"></strong>
      <span>2700</span>
    </li>
    <li><strong translate="menu.standard.GrandMarnier"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Kahlua"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Cointreau"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Baileys"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Malibu"></strong>
      <span>1800</span>
    </li>
    <li><strong translate="menu.standard.Jägermeister"></strong>
      <span>1500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.champagne"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.AstiMartiniRose"></strong>
      <span>17000</span>
    </li>
    <li><strong translate="menu.standard.AstiMartini"></strong>
      <span>15000</span>
    </li>
    <li><strong translate="menu.standard.AstiMartiniProsecco02"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Armenianmoist"></strong>
      <span>4500</span>
    </li>
    <li><strong translate="menu.standard.Armeniamoist"></strong>
      <span>5500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.aperitif"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.AbsintheKsięte"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Campari"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Martini(Bianco)"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Mariinsky(Rosso)"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Becherovka"></strong>
      <span>1500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.wine"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Ijevan"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Vernashen"></strong>
      <span>5000</span>
    </li>
    <li><strong translate="menu.standard.Pomegranate"></strong>
      <span>5000</span>
    </li>
    <li><strong translate="menu.standard.Areni2010"></strong>
      <span>5000</span>
    </li>
    <li><strong translate="menu.standard.Areni1993"></strong>
      <span>8000</span>
    </li>
    <li><strong translate="menu.standard.VillaAntinori"></strong>
      <span>12500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.beer"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Heineken"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Miller"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Aleksandrapol"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Kotayk"></strong>
      <span>900</span>
    </li>
    <li><strong translate="menu.standard.Kilikia"></strong>
      <span>900</span>
    </li>
    <li><strong translate="menu.standard.Gyumri"></strong>
      <span>900</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.alcohol"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Charlotte"></strong>
      <span>10000</span>
    </li>
    <li><strong translate="menu.standard.Lamborghini"></strong>
      <span>6000</span>
    </li>
    <li><strong translate="menu.standard.LongIslandIcedTea"></strong>
      <span>4500</span>
    </li>
    <li><strong translate="menu.standard.Amadeus"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Mojito"></strong>
      <span>3500</span>
    </li>
    <li><strong translate="menu.standard.Cocaine"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Daiquiri"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Pinacolada"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.TequilaSunrise"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Sexonbeach"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Orgazm"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.B-52"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Margarita"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.GinTonic"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.CampariOrange"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Tequilaboom"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Cosmopolitan"></strong>
      <span>2300</span>
    </li>
    <li><strong translate="menu.standard.CubaLibre"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.BloodyMary"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Screwdriver"></strong>
      <span>2000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.nonalcohol"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Charlotte"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Fruit"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Mojito"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Lactic"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Strawberrygarden"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Sweetkiss"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Chocolate"></strong>
      <span>2000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.fresh"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Strawberry"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Pineapple"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Multi"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Grapefruit"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Orange"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Kiwi"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Lemon"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Banana"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Carrot"></strong>
      <span>1500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.cold"> </h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Energydrinks"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Tonic"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Okroshka"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Naturaljuice"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Pepsi"></strong>
      <span>500</span>
    </li>
    <li><strong translate="menu.standard.Cola|Fanta|Sprite"></strong>
      <span>500</span>
    </li>
    <li><strong translate="menu.standard.Mineralwater"></strong>
      <span>500</span>
    </li>
    <li><strong translate="menu.standard.Water"></strong>
      <span>500</span>
    </li>
    <li><strong translate="menu.standard.Tan"></strong>
      <span>500</span>
    </li>
  </ul>
  <h3 class="text-center"  translate="menu.standard.coffee"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Glace"></strong>
      <span>1800</span>
    </li>
    <li><strong translate="menu.standard.Cappuccino"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Espresso"></strong>
      <span>1100</span>
    </li>
    <li><strong translate="menu.standard.Latte"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.Americano"></strong>
      <span>1100</span>
    </li>
    <li><strong translate="menu.standard.Instantcoffee"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Orientalcoffee"></strong>
      <span>600</span>
    </li>
    <li><strong translate="menu.standard.Icedtea"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Green|Black|Hibiscus"></strong>
      <span>800</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.beerSnacks" ></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Jerky"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Pistachios"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.Chips"></strong>
      <span>1300</span>
    </li>
    <li><strong translate="menu.standard.Smokedcheese"></strong>
      <span>1200</span>
    </li>
    <li><strong translate="menu.standard.CarrotwithLemon"></strong>
      <span>700</span>
    </li>
    <li><strong translate="menu.standard.SmokedTailsCancer"></strong>
      <span>1300</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.snacks"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Meatassorted"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Cheesesassorted"></strong>
      <span>3500</span>
    </li>
    <li><strong translate="menu.standard.Nikalashka"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Lime"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Saltedcucumbers"></strong>
      <span>700</span>
    </li>
    <li><strong translate="menu.standard.Olives"></strong>
      <span>800</span>
    </li>
    <li><strong translate="menu.standard.Lemon"></strong>
      <span>700</span>
    </li>
    <li><strong translate="menu.standard.Bread"></strong>
      <span>500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.salads"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Charlotte"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Amadeus"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Caesar"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Metropolitan"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Crab"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Chicken"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Greek"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Mushroom"></strong>
      <span>1600</span>
    </li>
    <li><strong translate="menu.standard.Summer"></strong>
      <span>Season</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.express"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.BrandedPizzaCharlotte"></strong>
      <span>3000|2000</span>
    </li>
    <li><strong translate="menu.standard.AmadeusPizza"></strong>
      <span>2800|1800</span>
    </li>
    <li><strong translate="menu.standard.PizzawithHam"></strong>
      <span>2700|1700</span>
    </li>
    <li><strong translate="menu.standard.Pizzawithchicken"></strong>
      <span>2500|1500</span>
    </li>
    <li><strong translate="menu.standard.Pizzawithmushrooms"></strong>
      <span>2500|1500</span>
    </li>
    <li><strong translate="menu.standard.Pizzawithsalami"></strong>
      <span>2500|1500</span>
    </li>
    <li><strong translate="menu.standard.Ajariankhachapuri"></strong>
      <span>1500|1000</span>
    </li>
    <li><strong translate="menu.standard.Hamburger"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Sandwich"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Sandwichwithchicken"></strong>
      <span>1300</span>
    </li>
    <li><strong translate="menu.standard.Empanadas2pc"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.Pancakeswithmushrooms2pc"></strong>
      <span>1000</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.hot"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.MagicCharlotte"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.Beefsteak"></strong>
      <span>4000</span>
    </li>
    <li><strong translate="menu.standard.FriedChicken"></strong>
      <span>2700</span>
    </li>
    <li><strong translate="menu.standard.WingsLouisiana"></strong>
      <span>2500</span>
    </li>
    <li><strong translate="menu.standard.Chickenfilletwithspinach"></strong>
      <span>3000</span>
    </li>
    <li><strong translate="menu.standard.Mexicanlegs"></strong>
      <span>2500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.dessert"></h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.AssortedfruitsCharlotte"></strong>
      <span>20000</span>
    </li>
    <li><strong translate="menu.standard.Assortedfruits"></strong>
      <span>6000|10000</span>
    </li>
    <li><strong translate="menu.standard.FruitFondue"></strong>
      <span>8000</span>
    </li>
    <li><strong translate="menu.standard.Fruitsalad"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.IcecreamCharlotte"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Friedicecream"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Chocolatebar"></strong>
      <span>2000</span>
    </li>
    <li><strong translate="menu.standard.Icecream"></strong>
      <span>1000</span>
    </li>
    <li><strong translate="menu.standard.FerreroRocher"></strong>
      <span>600</span>
    </li>
    <li><strong translate="menu.standard.Raffaello"></strong>
      <span>500</span>
    </li>
  </ul>
  <h3 class="text-center" translate="menu.standard.cigarettes">Cigarettes</h3>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Cigaronne"></strong>
      <span>1500|2000|2500</span>
    </li>
    <li><strong translate="menu.standard.Dunhill"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.Parliament"></strong>
      <span>1700</span>
    </li>
    <li><strong translate="menu.standard.Davidoff"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Kent"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Marlboro"></strong>
      <span>1500</span>
    </li>
    <li><strong translate="menu.standard.Ararat"></strong>
      <span>1200</span>
    </li>
    <li><strong translate="menu.standard.Karelia"></strong>
      <span>1000</span>
    </li>
  </ul>
  <ul class="menu-items list-unstyled">
    <li><strong translate="menu.standard.Lighter"></strong>
      <span>500</span>
    </li>
    <li><strong translate="menu.standard.Chewinggum"></strong>
      <span>500</span>
    </li>
  </ul>
  <p class="lead text-center" translate="menu.standard.service"></p>
  <ng-include src="'assets/js/templates/controller-free/reservation-section.html'" class="has-decorations show"></ng-include>
</main>
