<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-left" id="history">
  <h2 class="text-primary " translate="history.title"></h2>
  <section class="row m-b-20 text-left">
    <div class="col-sm-7 ">
      <img src="./assets/img/history/history1.webp.jpg" alt="charlotte history">
    </div>
    <div class="col-sm-5">
      <div>
        <h3 class="text-primary" translate="history.club.title">
            
          </h3>
        <p class=" l-h-20 m-b-20" translate="history.club.about">
          
        </p>
        <h3 class="text-primary" translate="history.goal.title"></h3>
        <p class=" l-h-20" translate="history.goal.about">
          
        </p>
      </div>
    </div>
    <div class="col-sm-12 text-left">
      <h3 class="text-primary" translate="history.about.title">
            
          </h3>
      <p class="m-b-20  l-h-20" translate="history.about.about">
        
      </p>
      <h3 class="text-primary" translate="history.charlotteShow.title">
            
          </h3>
      <p class="m-b-20  l-h-20" translate="history.charlotteShow.about">
      
      </p>
      <div class='kwicks kwicks-horizontal clearfix'>
        <a href='./'>
          <img src="./assets/img/slides/history/history1.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history2.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history3.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history4.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history5.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history6.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history7.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history8.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history9.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history10.jpg" alt="Charlotte Strip">
        </a>
      </div>
    </div>
  </section>
</main>
