
  <div id="carousel-homepage-1" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
      <li data-target="#carousel-homepage-1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-homepage-1" data-slide-to="1"></li>
      <li data-target="#carousel-homepage-1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/img/slides/2.jpg" alt="strip girl">
        <a href ui-sref="app.show({lang: activeLang})" class="carousel-caption b-w btn-block">
          <span class="text">
            <h2 translate="main.hero.show"></h2>
          </span>
          <span  class="b-w" translate="button.moreInfo"></span>
        </a>
      </div>
      <div class="item">
        <img src="assets/img/slides/3.jpg" alt="strip girl">
        <a href ui-sref="app.strip({lang: activeLang})" class="carousel-caption b-w btn-block">
          <span class="text">
            <h2 translate="main.hero.strip"></h2>
          </span>
          <span  class="b-w" translate="button.moreInfo"></span>
        </a>
      </div>
      <div class="item">
        <img src="assets/img/slides/1.jpg" alt="strip girl">
        <a href ui-sref="app.vip({lang: activeLang})" class="carousel-caption b-w btn-block">
          <span class="text">
            <h2 translate="main.hero.vip"></h2>
          </span>
          <span  class="b-w" translate="button.moreInfo"></span>
        </a>
      </div>
    </div>
    <span class="left carousel-control" href="#carousel-homepage-1" role="button" data-slide="prev">
      <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
    </span>
    <span class="right carousel-control" href="#carousel-homepage-1" role="button" data-slide="next">
      <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
    </span>
  </div>
  <section id="section-fog" class="hidden-xs">
    <div class="row">
      <div id="change-life-link" class="col-xs-6 col-xs-offset-3">
        <a href="./events" class="col-xs-3 text-center lead" translate="button.here"></a>
        <p class="lead text-center col-xs-9" translate="main.bottomBanner.bannerText"></p>
      </div>
    </div>
    <video loop="" muted="" preload="auto" autoplay>
      <source src="http://video.wixstatic.com/video/11062b_4d1ce144268d4ffda4eb0e5d39af01d0/1080p/mp4/file.mp4">
    </video>
  </section>

