<!-- Begin page content -->
<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container">
  <section class="col-sm-8 col-sm-offset-2">
    <h2 class="text-left text-primary">Reservation online</h2>
    <p class="text-left">
      It will take a few minutes.
      <br> But it is a great way to reserve a table for you and your friends.
      <br> Just fill in several points.
    </p>
  </section>
  <section class="col-sm-6 col-sm-offset-3">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name Surname">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="phone" placeholder="Phone">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="date" placeholder="Date and Time">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="count" placeholder="How many people">
      </div>
      <div class="form-group">
        <textarea name="message" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Send</button>
    </form>
  </section>
</main>
