<!-- Begin page content -->
<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-center" id="vip-content">
  <header>
    <section class="col-sm-7 pull-left">
      <h2 class="text-primary text-left ">
          V.I.P Rooms 
        </h2>
      <p class="lead text-white text-left">
        This is a special V.I.P room for Special Guests.
        <br> You can spend your time in this room with
        <br> perfect Girls and in an amazing atmosphere.
        <br> Don't miss your Pleasure!
      </p>
    </section>
    <section class="col-sm-5">
      <h2 class="text-white  m-b-20">Crazy Menu</h2>
      <a href="./menu-crazy" class="btn btn-primary m-b-40">Let`s see</a>
      <p class="lead text-white text-center">Every Day from 23:45 to 06:00</p>
    </section>
  </header>
  <section class="col-sm-10 col-sm-offset-1">
    <div id="carousel-vip" class="carousel slide carousel-fade" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip1thumb.jpg)" data-slide-to="0"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip2thumb.jpg)" data-slide-to="1"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip3thumb.jpg)" data-slide-to="2"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip4thumb.jpg)" data-slide-to="3"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip5thumb.jpg)" data-slide-to="4"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip6thumb.jpg)" data-slide-to="5"></li>
        <li data-target="#carousel-vip" style="background-image: url(assets/img/slides/vip/vip7thumb.jpg)" data-slide-to="6"></li>
      </ul>
      <div class="carousel-inner" role="listbox">
        <div class="item active ">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip1.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip2.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip3.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip4.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip5.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip6.jpg)"></div>
        </div>
        <div class="item">
          <div class="bg-item" style="background-image: url(assets/img/slides/vip/vip7.jpg)"></div>
        </div>
      </div>
    </div>
  </section>
  <ng-include src="'assets/js/templates/reservation-section'"></ng-include>
</main>
