<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-left" id="history">
  <h2 class="text-primary ">Cabaret Charlotte History</h2>
  <section class="row m-b-20 text-left">
    <div class="col-sm-7 ">
      <img src="./assets/img/history/history1.webp.jpg" alt="charlotte history">
    </div>
    <div class="col-sm-5">
      <div>
        <h3 class="text-primary">
            The club foundation
          </h3>
        <p class=" l-h-20 m-b-20">
          The club was founded in 2002 after the foundation of the first Club-Kamaris by the young founder. To have an incredible success, it needed to enlarge the club. Immediately after that, the club quickly took its place among the best, due to the effort and enthusiasm of the created team.
        </p>
        <h3 class="text-primary">Our goal</h3>
        <p class=" l-h-20">
          Our main goal is to work on the benefit of clients. And very soon, it created a huge and a wonderful group of clients who still prefer our club. We try to create a place where everyone will get the expectation for which they came. It is one of our highest goals.
        </p>
      </div>
    </div>
    <div class="col-sm-12 text-left">
      <h3 class="text-primary">
            About the Club’s name
          </h3>
      <p class="m-b-20  l-h-20">
        Many people ask why just "Cabaret Charlotte". Well , we just wanted to represent the beauty of a french woman. And after creating this name , every customer liked and approved it .
      </p>
      <h3 class="text-primary">
            Charlotte SHOW
          </h3>
      <p class="m-b-20  l-h-20">
        Our aim is to create the best show programs in Yerevan, which include famous artists' performances, new light
        <br> and sound effects, which will create the warmest atmosphere ever.
        <br> And we have already done it. The Best SHOW Club in Yerevan, even in Armenia. The name of the Club is Cabaret Charlotte.
        <br> An amazing place for amazing SHOW Program!
      </p>
      <div class='kwicks kwicks-horizontal clearfix'>
        <a href='./'>
          <img src="./assets/img/slides/history/history1.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history2.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history3.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history4.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history5.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history6.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history7.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history8.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history9.jpg" alt="Charlotte Strip">
        </a>
        <a href='./'>
          <img src="./assets/img/slides/history/history10.jpg" alt="Charlotte Strip">
        </a>
      </div>
    </div>
  </section>
</main>
