<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-center" ng-controller="GalleryCtrl">
  <section class="row m-b-20 text-left">
    <h2 class="text-primary text-center " translate="gallery.show.title"></h2>
    <p class="text-center lead color-white" translate="gallery.show.hours">
      
    </p>
    <div id="slider-gallery" class="m-b-20">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide1.jpg" alt="Vardan">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide2.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide3.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide4.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide5.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide6.jpg" alt="Arpine Bekjanyan">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide7.jpg" alt="Juyce Singer">
    </div>
    <div class="tiles" id="gallery-simple">
      <a href="./assets/img/gallery/show/gal1.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal1.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal2.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal2.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal3.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal3.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal4.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal4.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal5.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal5.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal6.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal6.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal7.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal7.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal8.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal8.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal9.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal9.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal10.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal10.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal11.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal11.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal12.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal12.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal13.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal13.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal14.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal14.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal15.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal15.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal16.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal16.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal17.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal17.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal18.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal18.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal19.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal19.webp.jpg" />
      </a>
      <a href="./assets/img/gallery/show/gal20.webp.jpg" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal20.webp.jpg" />
      </a>
    </div>
    <ng-include src="'./assets/js/templates/controller-free/reservation-section.html'"></ng-include>
  </section>
</main>
