<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-center" ng-controller="GalleryCtrl">
  <section class="row m-b-20 text-left">
    <h2 class="text-primary text-center ">Charlotte SHOW <br>GALLERY</h2>
    <p class="text-center lead color-white">
      Every day from 21:00 to 23:30
    </p>
    <div id="slider-gallery" class="m-b-20">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide1.jpg" alt="Vardan">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide2.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide3.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide4.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide5.jpg" alt="Charlotte Party">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide6.jpg" alt="Arpine Bekjanyan">
      <img class="cloud9-item" src="./assets/img/slides/gallery/show/slide7.jpg" alt="Juyce Singer">
    </div>
    <div class="tiles" id="gallery-simple">
      <a href="./assets/img/gallery/show/gal1.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal1.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal2.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal2.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal3.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal3.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal4.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal4.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal5.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal5.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal6.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal6.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal7.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal7.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal8.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal8.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal9.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal9.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal10.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal10.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal11.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal11.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal12.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal12.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal13.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal13.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal14.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal14.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal15.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal15.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal16.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal16.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal17.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal17.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal18.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal18.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal19.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal19.webp" />
      </a>
      <a href="./assets/img/gallery/show/gal20.webp" >
        <span class="caption"></span>
        <img class="item" alt="Strip girl" src="./assets/img/gallery/show/gal20.webp" />
      </a>
    </div>
    <ng-include src="'./assets/js/templates/controller-free/reservation-section.html'"></ng-include>
  </section>
</main>
