<!-- 

  <video loop="" muted="" preload="auto" autoplay class="background-video">
    <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
  </video>
  <main class="container text-center" id="events-content" ng-controller="EventsCtrl">
    <header>
      <p class="lead text-primary text-center" translate="events.title">
        
      </p>
    </header>
    <div id="carousel-events-header" class="carousel slide  " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-events-header" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-events-header" data-slide-to="1"></li>
        <li data-target="#carousel-events-header" data-slide-to="2"></li>
        <li data-target="#carousel-events-header" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active ">
          <a href="./" class="col-sm-9">
            <img src="assets/img/slides/events/header/events-header-1.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center col-sm-3  m-b-20">
            <div class="e-h-item">
              <h2 translate="events.hero.stagpartySlide.title"></h2>
              <p class=" " translate="events.hero.stagpartySlide.description">
                
              </p>
              <button class="btn btn-black" data-to="stag" translate="button.more"></button>
            </div>
          </div>
        </div>
        <div class="item  ">
          <a href="./" class="col-sm-9">
            <img src="assets/img/slides/events/header/events-header-2.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center  col-sm-3  m-b-20">
            <div class="e-h-item">
              <h2 translate="events.hero.birthdaypartySlide.title"></h2>
              <p class="lead  "  translate="events.hero.birthdaypartySlide.title">
                
              </p>
              <button class="btn btn-black" data-to="birth" translate="button.more"></button>
            </div>
          </div>
        </div>
        <div class="item  ">
          <a href="./" class="col-sm-9">
            <img src="assets/img/slides/events/header/events-header-3.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center  col-sm-3  m-b-20">
            <div class="e-h-item">
              <h2 translate="events.hero.henpartySlide.title"></h2>
              <p class="  " translate="events.hero.henpartySlide.description">
               
              </p>
              <button class="btn btn-black" data-to="hen" translate="button.more"></button>
            </div>
          </div>
        </div>
        <div class="item  ">
          <a href="./" class="col-sm-9">
            <img src="assets/img/slides/events/header/events-header-4.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center  col-sm-3  m-b-20">
            <div class="e-h-item">
              <h2 translate="events.hero.closedpartySlide.title"></h2>
              <p class="  "  translate="events.hero.closedpartySlide.description">
                
              </p>
              <button class="btn btn-black" data-to="closed" translate="button.more"></button>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-events-header
" role="button" data-slide="prev">
        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-events-header" role="button" data-slide="next">
        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
      </a>
    </div>
    <section class="clearfix" id="stag">
      <h2 class="text-center text-primary  m-b-40">
        <u translate="events.purposals.title"></u>  
      </h2>
      <div class="col-sm-9">
        <div id="carousel-events-stag" class="carousel slide  events " data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active ">
              <img src="assets/img/slides/events/stag/stag1.webp.jpg" alt="stag party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/stag/stag2.webp.jpg" alt="stag party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/stag/stag3.webp.jpg" alt="stag party">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-events-stag" role="button" data-slide="prev">
            <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-events-stag" role="button" data-slide="next">
            <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="col-sm-3 m-b-20" >
        <div class="text-left ">
          <h2 class="text-primary  text-uppercase" translate="events.purposals.stag.title">
            
          </h2>
          <p translate="events.purposals.stag.descriptionTitle">
            
          </p>
          <ul translate="events.purposals.stag.description">
            
          </ul>
        </div>
      </div>
    </section>
    
      <p class="text-primary text-center lead">
        <span translate="events.purposals.contactusText1"></span>
        <br>
        <a class="btn btn-primary" href ui-sref="app.contacts({lang: activeLang})" translate="button.pressHere"></a>
        <span translate="events.purposals.contactusText2"></span>
      </p>
    
    <section class=" clearfix" id="birth">
      <div class=" col-sm-9 col-sm-push-3">
        <div id="carousel-events-birth" class="carousel slide  events " data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active ">
              <img src="assets/img/slides/events/birth/birth1.webp.jpg" alt="birthday party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/birth/birth2.webp.jpg" alt="birthday party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/birth/birth3.webp.jpg" alt="birthday party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/birth/birth4.webp.jpg" alt="birthday party">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-events-birth" role="button" data-slide="prev">
            <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-events-birth" role="button" data-slide="next">
            <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class=" col-sm-3 col-sm-pull-9" >
        <div class="text-left m-b-20">
          <h2 class="text-primary  text-uppercase " translate="events.purposals.birthday.title">
            
          </h2>
          <p  translate="events.purposals.birthday.description">
           
          </p>
          <ul  translate="events.purposals.birthday.description">
            
          </ul>
        </div>
      </div>
    </section>
      <p class="text-primary text-center lead">
        <span translate="events.purposals.contactusText1"></span>
        <br>
        <a class="btn btn-primary" href ui-sref="app.contacts({lang: activeLang})" translate="button.pressHere"></a>
        <span translate="events.purposals.contactusText2"></span>
      </p>
      <section class=" clearfix "  id="hen">
        <div class=" col-sm-9">
          <div id="carousel-events-hen" class="carousel slide  events " data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active ">
                <img src="assets/img/slides/events/hen/hen1.webp.jpg" alt="hen party">
              </div>
              <div class="item ">
                <img src="assets/img/slides/events/hen/hen2.webp.jpg" alt="hen party">
              </div>
              <div class="item ">
                <img src="assets/img/slides/events/hen/hen3.webp.jpg" alt="hen party">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-events-hen" role="button" data-slide="prev">
              <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-events-hen" role="button" data-slide="next">
              <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class=" col-sm-3 ">
          <div class="text-left ">
            <h2 class="text-primary  text-uppercase "  translate="events.purposals.hen-party.title">
              
            </h2>
            <p  translate="events.purposals.hen-party.description">
              
            </p>
          </div>
        </div>
      </section>
    
      <p class="text-primary text-center lead">
        <span translate="events.purposals.contactusText1"></span>
        <br>
        <a class="btn btn-primary" href ui-sref="app.contacts({lang: activeLang})" translate="button.pressHere"></a>
        <span translate="events.purposals.contactusText2"></span>
      </p>
    
    <section class="clearfix" id="closed">
      <div class=" col-sm-9 col-sm-push-3">
        <div id="carousel-events-closed" class="carousel slide  events " data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active ">
              <img src="assets/img/slides/events/closed/closed1.webp.jpg" alt="closed party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/closed/closed2.webp.jpg" alt="closed party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/closed/closed3.webp.jpg" alt="closed party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/closed/closed4.webp.jpg" alt="closed party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/closed/closed5.webp.jpg" alt="closed party">
            </div>
            <div class="item ">
              <img src="assets/img/slides/events/closed/closed6.webp.jpg" alt="closed party">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-events-closed" role="button" data-slide="prev">
            <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-events-closed" role="button" data-slide="next">
            <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class=" col-sm-3 col-sm-pull-9">
        <div class="text-left ">
          <h2 class="text-primary  text-uppercase"  translate="events.purposals.closedParty.title">
            
          </h2>
          <p  translate="events.purposals.closedParty.description">
            
          </p>
        </div>
      </div>
    </section>
    
      <p class="text-primary text-center lead">
        <span translate="events.purposals.contactusText1"></span>
        <br>
        <a class="btn btn-primary" href ui-sref="app.contacts({lang: activeLang})" translate="button.pressHere"></a>
        <span translate="events.purposals.contactusText2"></span>
      </p>
    
  </main>
 --> -->