 <footer id="footer">
    <div class="container">
      <div class="row">
        <!--TODO:implent google map addres point -->
       
        <div class="col-sm-6">
          <div id="social-networks">
            <ul class="list-unstyled list-inline">
              <li>
                <h5 class="text-logo-icon">
                  <span>show</span><br>
                  <span class="text-center">charlotte</span>
                </h5>
              </li>
              <li>
                <a href="">
                  <i class="fa  fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa  fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa  fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa  fa-vk"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
         <div class="col-sm-6 text-right">
          <address >
            <p>M.Baghramyan Ave
              <br> Yerevan 0019
              <br>
              <a href="tel:0037410277020" title="Phone">(24 hrs.) +374 41 277020</a>
              <br>
              <a href="tel:0037410277020" title="Phone">+374 10 277020</a>
              <br>
              <a href="mailto:info@charlotte.am">info@charlotte.am</a>
            </p>
          </address>
        </div>
      </div>
    </div>
  </footer>