<!-- Begin page content -->
<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-center">
  <section class="row m-b-20">
    <h2 class=" m-b-20 text-primary" translate="posters.title"></h2>
    <div id="carousel-posters" class="carousel slide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-posters" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-posters" data-slide-to="1"></li>
        <li data-target="#carousel-posters" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active ">
          <a href="./" class="col-sm-6">
            <img src="assets/img/slides/posters/poster1.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center col-sm-6">
            <h2 class="m-b-20 text-muted" translate="posters.hero.russianSlide.title"></h2>
            <p class="lead">
              <small translate="posters.hero.russianSlide.promoText">
                 
                </small>
            </p>
            <a class="btn btn-primary" href ui-sref="app.reservation({lang: activeLang})" translate="button.reservation"></a>
          </div>
        </div>
        <div class="item ">
          <a href="./" class="col-sm-6">
            <img src="assets/img/slides/posters/poster2.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center  col-sm-6">
            <h2 class="m-b-20 text-muted" translate="posters.hero.retroSlide.title"></h2>
            <p class="lead">
              <small translate="posters.hero.retroSlide.promoText">
              </small>
            </p>
            <a class="btn btn-primary" href ui-sref="app.reservation({lang: activeLang})" translate="button.reservation"></a>
          </div>
        </div>
        <div class="item ">
          <a href="./" class="col-sm-6">
            <img src="assets/img/slides/posters/poster3.webp.jpg" alt="strip club">
          </a>
          <div class="p-t-wrapper text-center col-sm-6">
            <h2 class="m-b-20 text-muted" translate="posters.hero.hookahSlide.title"></h2>
            <p class="lead">
              <small translate="posters.hero.hookahSlide.promoText">
                  
                </small>
            </p>
            <a class="btn btn-primary" href ui-sref="app.reservation({lang: activeLang})" translate="button.reservation"></a>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-posters" role="button" data-slide="prev">
        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-posters" role="button" data-slide="next">
        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
      </a>
    </div>
  </section>
</main>
