<!-- Begin page content -->
<video loop="" muted="" preload="auto" autoplay class="background-video">
  <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
</video>
<main class="container text-center">
  <section class="row m-b-20">
    <h2 class="text-primary" translate="special.title"></h2>
    <div class="col-sm-4 col-sm-offset-4 m-b-20">
      <a class="btn btn-primary btn-block" href ui-sref="app.posters({lang: activeLang})" translate="button.comingPosters"></a>
    </div>
    <div id="carousel-special" class="carousel slide   car-st" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-special" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-special" data-slide-to="1"></li>
        <li data-target="#carousel-special" data-slide-to="2"></li>
        <li data-target="#carousel-special" data-slide-to="3"></li>
        <li data-target="#carousel-special" data-slide-to="4"></li>
        <li data-target="#carousel-special" data-slide-to="5"></li>
        <li data-target="#carousel-special" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active ">
          <img src="assets/img/slides/special/special1.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special2.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special3.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special4.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special5.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special6.webp.jpg" alt="strip club">
        </div>
        <div class="item ">
          <img src="assets/img/slides/special/special7.webp.jpg" alt="strip club">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-special" role="button" data-slide="prev">
        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-special" role="button" data-slide="next">
        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
      </a>
    </div>
    <p class="lead text-center" translate="special.description">
    
    </p>
    <div class="col-sm-4 col-sm-offset-4 m-b-20">
      <a class="btn btn-primary btn-block" href ui-sref="app.posters({lang: activeLang})" translate="button.comingPosters"></a>
    </div>
  </section>
  <section class="row m-b-20 last-section">
    <p class="lead text-center text-primary line" translate="reservation.take"></p>
    <a href ui-sref="app.reservation({lang: activeLang})" class="btn btn-primary" translate="button.reservation"></a>
  </section>
</main>
