<video loop="" muted="" preload="auto" autoplay class="background-video">
    <source src="http://video.wixstatic.com/video/11062b_cb0c4d13153f4008920bb26beda8de0f/1080p/mp4/file.mp4">
  </video>
  <main class="container" id="strip-content" >
    <header>
      <section class="col-sm-8 pull-left ">
        <h2 class="text-primary text-left " translate="strip.title">
          
          
        </h2>
        <p class="lead text-white text-left" translate="strip.hours">
         
        </p>
       
      </section>
      <section class="col-sm-4 text-center  m-b-20">
        <h2 class="text-white m-b-20" translate="menu.crazy.title"></h2>
        <a class="btn btn-primary" href ui-sref="app.menuCrazy({lang: activeLang})" translate="button.letsSee"></a>
      </section>
    </header>
  <section class="col-sm-6 col-sm-offset-1 ">
    <div id="carousel-strip" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active ">

            <img src="assets/img/slides/strip/strip1.webp.jpg" alt="strip club">
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip2.webp.jpg" alt="strip club">
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip3.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip4.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip5.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip6.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip7.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip8.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip9.webp.jpg" alt="strip club">  
          </div>
          <div class="item">
            <img src="assets/img/slides/strip/strip10.webp.jpg" alt="strip club">  
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-strip" role="button" data-slide="prev">
          <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-strip" role="button" data-slide="next">
          <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
        </a>
      </div>
  </section>
  <section class="col-sm-4 col-sm-offset-1">
    <h3 class="text-primary " translate="strip.cabaret.title">
      
    </h3>
    <p class="text-white" translate="strip.cabaret.description">
     
    </p>
    <h3 class="text-primary " translate="strip.charlotte.title">
      
    </h3>
    <p class="text-white" translate="strip.charlotte.description">
     
​
    </p>
    <h3 class="text-primary " translate="strip.experience.title">
      
    </h3>
    <p class="text-white" translate="strip.experience.description">
     
    </p>
  </section>
  <section class="text-white text-center col-sm-6 col-sm-offset-3">
    <h2 class="m-b-20" translate="strip.welcome.title"></h2>
    <p class="lead m-b-20">
      <span class="m-b-20 show" translate="strip.welcome.description">
        
      </span>
      <span class="m-b-80 show" translate="strip.welcome.hours">
        
      </span>
    </p>
  </section>
  <ng-include src="'assets/js/templates/controller-free/reservation-section.html'"></ng-include>    
  </main>